header {
    background-color: black;
    color: white;
    height: 64px;
    width: 1280px;
    text-align: left;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 16px;
    
}
button {
    background-color: black;
    color: white;
    border-radius: 5px;
}